<h2>
    Add a suggestion
</h2>
<p>
    You got an idea for a new feature? Let us know!
</p>
<form (ngSubmit)="onSubmit(suggestieForm)" #suggestieForm="ngForm" novalidate>
    <div>
        <label for="nameField">Name</label>
        <input type="text" name="nameField" id="nameField" [ngModel]="suggestieForm.nameField" required>
    </div>
    <div>
        <label for="suggestionField">Suggestion</label>
        <textarea name="suggestionField" id="suggestionField" [ngModel]="suggestieForm.suggestionField" required></textarea>
    </div>
    <div>
        <button type="submit" [disabled]="!suggestieForm.form.valid">Add suggestion</button>
    </div>
</form>