<div class="container-fluid">
    <h1>
        Pokéteam
    </h1>
    <!-- get all pokemon of first generation from pokeapi -->
     <div class="poketeam--container row" *ngIf="poketeam" dnd-sortable-container [sortableData]="poketeam">
        <app-pokemon class="col col-3" *ngFor="let pokemon of poketeam;let x = index" [pokemon]="pokemon" (pokemonToAdd)="removePokemonFromTeam($event)" [isPoketeam]="isPoketeam" dnd-sortable [dragData]="pokemon" [sortableIndex]="x" [dragEnabled]="!dragOperation"></app-pokemon>
    </div>
    <div class="poketeam--container container row" *ngIf="poketeam.length == 0">
        <p>
            You haven't added any Pokémon to your team yet! Add some by going back to the <a href="/">Pokédex</a> and click "Add to my team".
        </p>
    </div>
    <!--<div class="total container" *ngIf="totalPower">
        Your total experience with this team is <strong>{{totalPower}}</strong>
    </div>-->
</div>